<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aloe-vera.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='BuyModal.css') }}">
</head>
<body>

    <nav>
		<label class="logo" >Inventory</label>
		<ul>
			<li><a class="active" href="{{url_for('home')}}">Home</a></li>
			<li><a href="{{url_for('history')}}">History</a></li>
	
        </ul>
	</nav>

    <div class="border">
        <div class="img-border">
            <a href="{{url_for('static', filename='img/aloe-vera.png')}}"><img src="{{url_for('static', filename='img/aloe-vera.png')}}" alt="Aloe Vera"> </a>
        </div>
        <div class="details-pos">
        <h1 class="name">Aloe Vera</h1>
        <p class="price">₱149</p> 
        <button type="button" id="buyModal">Buy</button>
        </div>
    </div>
    
    <div class="details-border">
    <h3>Backgrounds</h3>
    <ul>
        <li>Aloe is a cactus-like plant that grows in hot, dry climates. It is cultivated in subtropical regions around the world, including the southern border areas of Texas, New Mexico, Arizona, and California.</li>
        <li>Historically, aloe has been used for skin conditions and was thought to improve baldness and promote wound healing.</li>
        <li>Aloe is used topically (applied to the skin) and orally. Topical use of aloe is promoted for acne, lichen planus (a very itchy rash on the skin or in the mouth), oral submucous fibrosis, burning mouth syndrome, burns, and radiation-induced skin toxicity. Oral use of aloe is promoted for weight loss, diabetes, hepatitis, and inflammatory bowel disease (a group of conditions caused by gut inflammation that includes Crohn’s disease and ulcerative colitis).</li>
    </ul>
    </div>

    <div class=" instruction-border">
    <h3>Instruction</h3>
    <ol>
        <li>Start by finding a pot that is wide and shallow with drainage holes.</li>
        <li>Fill the pot with a well-draining potting mix, and make a small hole in the center.</li>
        <li>Gently remove the plant from its current pot, and place it in the new one.</li>
        <li>Water the plant deeply, and allow it to drain before putting it in a sunny spot.</li>
    </ol> 
    
    </div>

    <div class="youtube-pos">
    <iframe width="400" height="250" src="https://www.youtube.com/embed/iVFE4MWzyCg?si=DyVQcDDxyaHC1yeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="google-pos">
        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d61957.82742933799!2d121.56122864330978!3d13.93690637462608!3m2!1i1024!2i768!4f13.1!2m1!1sany%20plant%20shop%20in%20lucena!5e0!3m2!1sen!2sph!4v1702214863820!5m2!1sen!2sph" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>







    <!----------------------Modal--------------------------->

    

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
      
          <form action="/submit_form" method="post">
                <h2>Information</h2>
                <br>
              <label for="name">Name</label>
              <input type="text"  name="name" id="name" required>
              <br><br>
              <label for="number">Number</label>
              <input type="text"  name="number" id="number" required>
              <br><br>
              <label for="email">Email</label>
              <input type="text"  name="email" id="email" required>
              <br><br>  
              <label for="plant">Plant</label>
              <br>
              <input type="text"  name="plant" id="plant" required readonly>
              <br><br>
              <label for="price">Price</label>
              <br>
              <input type="text"  name="price" id="price" required readonly>
              <br> <br>
              <label for="address">Address</label>
              <input type="text"  name="address" id="address" >
            
              <br><br>
              <button type="submit" id="submitModal" class="modalBtn">Submit</button>
        </form>
      
        </div>
      
      </div>

      
    
      <script src="{{url_for('static', filename='BuyModal.js')}}"></script>
      
</body>
</html>
